<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" href="./src/style/style.css">
  <title>Veganske opskrifter</title>

  <style>
    .site-title {
      margin: 25px 0;
      font-family: 'Gloria Hallelujah', cursive;
      padding: 15px 10px;
      display: inline-block;
      color: #22556E;
    }

    .panel {
      color: #fff;
      background-color: #22556E;
      padding: 15px;
      border-radius: 5px;
    }

    .panel .panel-title {
      font-family: 'Gloria Hallelujah', cursive;
    }

    #recipe-list {
      border-radius: 5px;
      margin: 15px 0;
      padding: 15px;
      background-color: #fff;
    }

    #recipe-list .recipe-item {
      border: 1px solid lightgrey;
      border-radius: 5px;
      overflow: hidden;
      color: #000;
      text-decoration: none;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      position: relative;
      min-height: 350px;
      margin-bottom: 10px;

      -webkit-animation: fadein 2s;
      -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
      animation: fadein 2s;
    }

    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }

    #recipe-list .recipe-item a{
      text-decoration: none;
      color: #000;
    }

    #recipe-list .recipe-item a:hover, #recipe-list .recipe-item a:active {
      text-decoration: underline;
    }

    #recipe-list .recipe-item .remove {
      position: absolute;
      top: 10px;
      right: 10px;
      color: red;
      font-size: 14px;
      cursor: pointer;
      background-color: #fff;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99999;
    }

    @media screen and (max-width: 768px) {
      #recipe-list .recipe-item {
        margin-bottom: 5px;
      }
    }

    #recipe-list .recipe-item .recipe-image {
      height: 200px;
      width: 100%;
      background-position: center;
      background-size: cover;
    }

    #recipe-list .recipe-item .recipe-cat {
      font-size: 12px;
      margin: 5px 0;
      background-color: #22556E;
      color: #fff;
      display: inline-block;
      padding: 2px;
    }

    #recipe-list .recipe-item .recipe-title, #recipe-list .recipe-item .recipe-cat {
      font-family: 'Gloria Hallelujah', cursive;
      margin-bottom: 15px;
      padding: 0 15px;
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  </style>

</head>

<body>
  <noscript>
    <strong>We're sorry but recipesapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
    <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>