<template>
  <div id="app" class="container">
    <h1 class="site-title">Veganske opskrifter</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Tilføj ny opskrift</h4>
      </div>
      <div class="panel-body">
        <form id="form" v-on:submit.prevent="addRecipe">
          <div class="form-group">
            <label for="bookTitle">Titel:</label>
            <input type="text" id="bookTitle" class="form-control" v-model="newRecipe.titel">
          </div>
          <div class="form-group">
            <label for="bookUrl">Link:</label>
            <input type="text" id="bookUrl" class="form-control" v-model="newRecipe.link">
          </div>
          <div class="form-group">
            <label for="bookAuthor">Billedsti:</label>
            <input type="text" id="bookAuthor" class="form-control" v-model="newRecipe.billede">
          </div>
          <div class="form-group">
            <label for="categorySelect">Kategori:</label>
            <select class="form-control" id="categorySelect" v-model="newRecipe.kategori">
              <option>Morgen</option>
              <option>Middag</option>
              <option>Aften</option>
              <option>Dessert</option>
            </select>
          </div>
          <input type="submit" class="btn btn-light" value="Tilføj opskrift">
        </form>
      </div>
    </div>
    <div id="recipe-list">
      <div class="row">
        <div class="col-md-4 col-lg-3" v-for="recipe in recipes" :key="recipe.id">
          <div class="recipe-item">
            <div class="recipe-image" :style="{ 'background-image': 'url(' + recipe.billede + ')' }"></div>
            <div class="recipe-cat">{{ recipe.kategori }}</div>
            <div class="recipe-title"><a v-bind:href="recipe.link" target="_blank">{{ recipe.titel }}</a></div>
            <span class="remove" aria-hidden="true" v-on:click="removeRecipe(recipe)"><i class="fa fa-trash" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Firebase from 'firebase'
  import toastr from 'toastr'

  let config = {
    apiKey: "AIzaSyAu-I-6QjEzBbCLMcwc5YP8rTfSxKWGixs",
    authDomain: "madplanen-2018.firebaseapp.com",
    databaseURL: "https://madplanen-2018.firebaseio.com",
    projectId: "madplanen-2018",
    storageBucket: "madplanen-2018.appspot.com",
    messagingSenderId: "547572908597"
  };

  let app = Firebase.initializeApp(config)
  let db = app.database()

  let recipesRef = db.ref('opskrifter')

  export default {
    name: 'app',

    firebase: {
      recipes: recipesRef
    },

    data() {
      return {
        newRecipe: {
          titel: '',
          billede: '',
          link: '',
          kategori: ''
        }
      }
    },

    methods: {
      addRecipe: function () {
        recipesRef.push(this.newRecipe);
        this.newRecipe.titel = '';
        this.newRecipe.billede = '';
        this.newRecipe.link = '';
        this.newRecipe.kategori = '';
        toastr.success('Opskrift oprettet')
      },
      removeRecipe: function (recipe) {
        recipesRef.child(recipe['.key']).remove()
        toastr.success('Opskrift slettet')
      }
    },
  }
</script>